<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{%static 'app/img/vehicle-black.png'%}"/>
    <title>VEHICLE HISTORY</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'app/css/clean-blog.min.css'%}" rel="stylesheet">

</head>
<style>
  @media (max-width:768px){ #white{display:none!important;}}
  @media (min-width:992px){ #black{display:none!important;}}
  label{border-top-left-radius:5px;border-bottom-left-radius:5px; border:0px!important; width:80px;}
  .input-group{padding-left:32%;}
   #serial{display:none;}


</style>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <img id="white" style="width:2.5%;" src="{% static 'app/img/vehicle.png'%}">
        <img id="black" style="width:30px;" src="{% static 'app/img/vehicle-black.png'%}">
        <a href="{% url 'index'%}" class="navbar-brand" style="padding-left:0px;">VEHICLE HISTORY</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'market' %}">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manufacture_record' %}">Manufacture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'government_record' %}">Government</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'repairshop_record' %}">Repairshop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'insurance_record' %}">Insuarance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('../../../static/app/img/market.jpg');background-size:cover; background-repeat:no-repeat;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Vehicle Market</h1>
                    <span class="subheading" style="font-size:40px;">Buy and Sell Vehicles</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="col-12" style="text-align:center;">
        <div class="btn-group">
            <a href="{%url 'market'%}">
                <button type="button" class="btn btn-outline-dark">All Vehicles</button>
            </a>
            <a href="{%url 'mytrade'%}">
                <button type="button" class="btn btn-outline-dark">My Trade</button>
            </a>
            <a href="{%url 'registervehicle'%}">
                <button type="button" class="btn btn-outline-dark">Register Vehicle</button>
            </a>
            <a href="{%url 'mypage'%}">
                <button type="button" class="btn btn-outline-dark">My Page</button>
            </a>
        </div>
        <hr>
        <form method="post" action="{% url 'marketsearch'%}">
            <div class="row">
                <div class="input-group">
                    <label class="input-group-text" for="vehiclesearch">Model</label>
                    <input id="vehiclesearch" name="vehiclesearch" class="formcontrol" type="text" name="vehicleseach">
                    <span class="input-group-append">
                    <button class="btn btn-outline-dark" type="submit"
                            style="border-top-right-radius:5px;border-bottom-right-radius:5px;"
                            id="search">Search</button>
                </span>
                </div>
            </div>
            {% csrf_token%}
        </form>
        <hr>
    </div>


    {% for car in searchcars%}
    <form method="post" action="{% url 'search'%}">
        <div class="row">
            <div class="col-sm-12">
                <input id="serial" name="sn" value="{{car.serialnumber}}">
                <table class="table" style="text-align:center;">
                    <tr>
                        <th>S/N</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Date of manufacture</th>
                        <th>SellPrice</th>
                        <th>Owner</th>
                    </tr>
                    <tr>
                        <td>{{car.serialnumber}}</td>
                        <td>{{car.company}}</td>
                        <td>{{car.modelname}}</td>
                        <td>{{car.type}}</td>
                        <td>{{car.whentobuy}}</td>
                        <td>{{car.sellprice}}</td>
                        <td>{{car.owner}}</td>
                    </tr>

                </table>
                <hr>
                <div style="text-align:center;">
                    <button id="details" type="submit" class="btn btn-outline-dark">Details</button>
                    <button id="buy" type="submit" formaction="{% url 'marketform'%}" class="btn btn-outline-dark">Buy
                        Now
                    </button>
                </div>
                <hr>
            </div>
        </div>
        {% csrf_token %}
    </form>
    {% endfor %}


    <div class="pagination" style="text-align:center; margin:auto;">
    <span class="step-links" style="text-align:center; margin:auto;">
      <ul class="pagination pagination-lg">
        {% if searchcars.has_previous %}
            <li><a class="btn" style="font-size:20px" href="?page=1">&laquo; first&nbsp</a></li>
            <li><a class="btn" style="font-size:20px" href="?page={{ contract.previous_page_number }}">previous</a></li>
        {% endif %}


      {% for pg in searchcars.paginator.page_range %}
        {% if blogs.number == pg %}
          <li><a style="font-size:20px" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
        {% else %}
          <li><a style="font-size:20px" href="?page={{pg}}" class="btn">{{pg}}</a></li>
        {% endif %}
      {% endfor %}


        {% if searchcars.has_next %}
            <li><a class="btn" style="font-size:20px" href="?page={{ contract.next_page_number }}">next&nbsp</a></li>
            <li><a class="btn" style="font-size:20px"
                   href="?page={{ contract.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
        </ul>
    </span>
    </div>


</div>
<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <p class="copyright text-muted">Copyright &copy; VEHICLE HISTORY 2018</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'app/vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'app/js/clean-blog.min.js'%}"></script>

</body>
<script>

</script>
</html>
