<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{%static 'app/img/vehicle-black.png'%}"/>
    <title>VEHICLE HISTORY</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'app/css/clean-blog.min.css'%}" rel="stylesheet">

</head>
<style>
  @media (max-width:768px){ #white{display:none!important;}}
  @media (min-width:992px){ #black{display:none!important;}}
  label{border-top-left-radius:5px;border-bottom-left-radius:5px; border:0px!important;}
  .btn{border-top-right-radius:5px;border-bottom-right-radius:5px;}
  tr:nth-child(even) {background-color: #f8f9fa;}
  td, th {  border: 1px solid #dee2e6; vertical-align:middle!important; }
  h2{padding-left:20px;}

</style>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <img id="white" style="width:2.5%;" src="{% static 'app/img/vehicle.png'%}">
        <img id="black" style="width:30px;" src="{% static 'app/img/vehicle-black.png'%}">
        <a href="{% url 'index'%}" class="navbar-brand" style="padding-left:0px;">VEHICLE HISTORY</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'market' %}">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manufacture_record' %}">Manufacture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'government_record' %}">Government</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'repairshop_record' %}">Repairshop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'insurance_record' %}">Insuarance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('../../static/app/img/car.jpg');background-size:cover; background-repeat:no-repeat;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Vehicle History</h1>
                    <span class="subheading" style="font-size:40px;">Management System</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div style="padding-left:20px; padding-right:10px;">
    <h2>Serial Number : {{sn}}</h2>
    <hr>
    <h2>Vehicle Information</h2>
    <div class="col-sm-12">
        <table class="table" style="text-align:center;">


            <tr>
                <th>Manufacture</th>
                <th>Factory</th>
                <th>Vehicle Name</th>
                <th>Type</th>
                <th>Exhaust Volume</th>
                <th>Fuel</th>
                <th>Txid</th>
                <th>Date of manufacture</th>
            </tr>

            <tr style="word-break:break-all">
                <td>{{init.Value.manufacture}}</td>
                <td>{{init.Value.factory}}</td>
                <td>{{init.Value.name}}</td>
                <td>{{init.Value.vehicletype}}</td>
                <td>{{init.Value.volume}}</td>
                <td>{{init.Value.fuel}}</td>
                <td>{{init.TxId}}</td>
                <td>{{init.Timestamp}}</td>

            </tr>

        </table>
        <hr>
    </div>
</div>

<div style="padding-left:20px; padding-right:10px;">
    <h2>Vehicle History From Blockchain</h2>
    <div class="col-sm-12">
        <table id="query_trade" class="table" style="text-align:center;">

            <tr>
                <th rowspan="2" >Time</th>

                <th colspan="5">Ownership</th>
                <th colspan="3">Maintenance</th>
                <th colspan="3">Accident</th>

            </tr>
            <tr>
                <th>Government</th>
                <th>Plate</th>
                <th>Owner</th>
                <th>Trade</th>
                <th>Price</th>

                <th>Repair Details</th>
                <th>Repair Costs</th>
                <th>Repair Shop</th>

                <th>Accident Details</th>
                <th>Handdling Costs</th>
                <th>Insurance Company</th>


            </tr>
            {% for c in history %}
            <tr style="word-break:break-all">
                <td>{{c.Timestamp}}</td>

                <td>{{c.Value.government}}</td>
                <td>{{c.Value.plate}}</td>
                <td>{{c.Value.owner}}</td>
                <td>{{c.Value.tradehistory}}</td>
                <td>{{c.Value.price}}</td>

                <td>{{c.Value.repair}}</td>
                <td>{{c.Value.repaircosts}}</td>
                <td>{{c.Value.shop}}</td>

                <td>{{c.Value.accident}}</td>
                <td>{{c.Value.handdlingcosts}}</td>
                <td>{{c.Value.insurance}}</td>


            </tr>
            {%endfor%}
        </table>
        <hr>
    </div>
</div>

<!-- Pager -->
<hr>
</div>


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <p class="copyright text-muted">Copyright &copy; VEHICLE HISTORY 2018</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'app/vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'app/js/clean-blog.min.js'%}"></script>

</body>

</html>
